.u-section-1 .u-sheet-1 {
  min-height: 380px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 351px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 16px auto 13px;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 361px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 332px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 238px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 209px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 984px;
}

.u-section-2 .u-tabs-1 {
  min-height: 922px;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-2 .u-tab-link-1 {
  font-size: 1.125rem;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  padding: 5px 25px;
}

.u-section-2 .u-tab-link-2 {
  font-size: 1.125rem;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  padding: 5px 25px;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px 0 0;
}

.u-section-2 .u-tabs-2 {
  min-height: 870px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-tab-link-3 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 5px 20px;
}

.u-section-2 .u-tab-link-4 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 5px 20px;
}

.u-section-2 .u-tab-link-5 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 5px 20px;
}

.u-section-2 .u-tab-link-6 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 5px 20px;
}

.u-section-2 .u-tab-link-7 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 5px 20px;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px 0 0;
}

.u-section-2 .u-table-1 {
  margin-top: 0;
  margin-bottom: -19px;
}

.u-section-2 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px 0 0;
}

.u-section-2 .u-table-2 {
  margin-top: 0;
  margin-bottom: -19px;
}

.u-section-2 .u-table-header-2 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px 0 0;
}

.u-section-2 .u-table-3 {
  margin-top: 0;
  margin-bottom: -19px;
}

.u-section-2 .u-table-header-3 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-95 {
  font-weight: 700;
}

.u-section-2 .u-container-layout-5 {
  padding: 9px 0;
}

.u-section-2 .u-table-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-table-header-4 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-139 {
  font-weight: 700;
}

.u-section-2 .u-container-layout-6 {
  padding: 0;
}

.u-section-2 .u-table-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-table-header-5 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-182 {
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-2 .u-table-cell-185 {
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-2 .u-container-layout-7 {
  padding: 10px 0 0;
}

.u-section-2 .u-tabs-3 {
  min-height: 870px;
  margin-top: 4px;
  margin-bottom: 0;
}

.u-section-2 .u-tab-link-8 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 5px 20px;
}

.u-section-2 .u-tab-link-9 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 5px 20px;
}

.u-section-2 .u-tab-link-10 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 5px 20px;
}

.u-section-2 .u-tab-link-11 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 5px 20px;
}

.u-section-2 .u-tab-link-12 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 5px 20px;
}

.u-section-2 .u-tab-link-13 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 5px 20px;
}

.u-section-2 .u-container-layout-8 {
  padding: 10px 0 0;
}

.u-section-2 .u-table-6 {
  margin-top: 0;
  margin-bottom: -19px;
}

.u-section-2 .u-table-header-6 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-container-layout-9 {
  padding: 10px 0 0;
}

.u-section-2 .u-table-7 {
  margin-top: 0;
  margin-bottom: -19px;
}

.u-section-2 .u-table-header-7 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-container-layout-10 {
  padding: 10px 0 0;
}

.u-section-2 .u-table-8 {
  margin-top: 0;
  margin-bottom: -19px;
}

.u-section-2 .u-table-header-8 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-container-layout-11 {
  padding: 10px 0 0;
}

.u-section-2 .u-table-9 {
  margin-top: 0;
  margin-bottom: -19px;
}

.u-section-2 .u-table-header-9 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-container-layout-12 {
  padding: 10px 0 0;
}

.u-section-2 .u-table-10 {
  margin-top: 0;
  margin-bottom: -19px;
}

.u-section-2 .u-table-header-10 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-container-layout-13 {
  padding: 10px 0 0;
}

.u-section-2 .u-table-11 {
  margin-top: 0;
  margin-bottom: -19px;
}

.u-section-2 .u-table-header-11 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-tabs-4 {
  min-height: 375px;
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-2 .u-container-layout-14 {
  padding: 30px;
}

.u-section-2 .u-container-layout-15 {
  padding: 30px;
}

.u-section-2 .u-container-layout-16 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-tabs-1 {
    height: auto;
  }

  .u-section-2 .u-tabs-2 {
    height: auto;
  }

  .u-section-2 .u-tabs-3 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-tabs-3 {
    min-height: 1029px;
    margin-top: 9px;
    margin-bottom: -196px;
  }
}